#greetings{
    position: relative;
    top: 20vh;
    left: 5%;
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    font-weight:bold;
    font-family:arial;
    color: aliceblue;
}

.container{

}
.body{
    background-color: rgb(28, 28, 29);
}
