#greetings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.3rem;
    left: 1.5%;
    font-family: arial;
    color: aliceblue;
    height:5rem;
}


#greetingsFirstName,
#greetingsLastName {
    font-size: clamp(1rem, calc(7vw + 3.6em), 1200rem);
    font-weight: bold;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 2;
}


#greetingsFirstName {
    animation-name: slideInLeft;
}


#greetingsLastName {
    animation-name: slideInRight;
}





#AndrewsInformation{
    color: aliceblue;
    font-size: clamp(1rem, 1.5vw, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    right: 1%;
    top: 125%; 
    font-weight: bold;
    width:55vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 0.3vw;
    line-height: 1.4;
    z-index:2;
    opacity:0;
    
}

#hello {
    color: aliceblue;
    font-size: clamp(1.8rem, calc(5vw + 1.2rem), 5rem);
    font-family:arial;
    font-weight:bold;
    position:absolute;
    top:135%;
    z-index:2;
    width:60vw;
    height:auto;
    right:25%;
    background-color:rgba(0, 0, 0, 0);
    opacity:0;

}


#furthermore {
    color:white;
    position:absolute;
    top:200%;
    right:20%;
    z-index:2;
    font-size: clamp(1rem, 1.5vw, 5rem);
    font-family:arial;
    font-weight:bold;

}


.slideUp {
    animation:fadeInUp 1s ease-out forwards;
}

.slideLeft {
    animation: slideInLeft 1s ease-out forwards;
}

.slideRight {
    animation: slideInRight 1s ease-out forwards;
}

.body{
    background-color: rgb(28, 28, 29);
}



/*background shapes*/



.shape3{
    width:50%;
    height:240px;
    background-color: rgb(187, 96, 140); 
    position:absolute;
    right:10%;
    top: 40%;
    z-index: 0;
    border-radius:30px;
    animation: rotaterev 69s infinite;
}


.shape4{
    width:60px;
    height:25%;
    background-color: rgb(152, 148, 238); 
    position:absolute;
    top:150%;
    z-index: 0;
    border-radius: 5rem;
    animation: rotaterev 20s infinite;
}


.shape5{
    width:80%;
    height:300px;
    background-color: rgb(52, 116, 185); 
    position:absolute;
    top:-10%;
    left:-10%;
    z-index: 0;
    border-radius:45px;
    animation: rotate 50s infinite;
}


/*background*/

.background1{
    position:absolute;
      top: 40%;
      left: 0px;
      height:180%;
      width: 100%;
      background: linear-gradient(to bottom, #e3b97f00, #081548, #00000000);
      z-index: 1;
      
    }










/*modular animations for the websites*/

@keyframes slideInLeft {
      from { transform: translateX(-60%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    }


@keyframes slideInRight {
      from { transform: translateX(30%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    } 


@keyframes fadeInUp {
      from { opacity:0; transform: translateY(30px); }
      to {opacity:1; transform: translateY(0);}
    }

/*to rotate */
@keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    
@keyframes rotaterev {
      from { transform: rotate(360deg); }
      to { transform: rotate(180deg); }
    }