#greetings{
    position: absolute;
    top: 20vh;
    left: 5%;
    font-size: clamp(1rem, calc(5vw + 1rem), 5rem);
    font-weight:bold;
    font-family:arial;
    color: aliceblue;
    animation: slideInLeft 5s forwards;
}

.body{
    background-color: rgb(28, 28, 29);
}

/*modular animations for the websites*/
@keyframes slideInLeft {
      from { transform: translateX(4%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    } 