#greetings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
    left: 1.5%;
    font-family: 'Bungee', cursive;
    color: aliceblue;
    background-color:rgba(255, 255, 255, 0);
}

.ilike {
    animation-name: slideInUp;
    font-weight: bold;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
    animation-delay: 0.6s;
    opacity: 0;
    font-size: clamp(0.9rem, 1vw, 10rem);
    line-height: 1.5;
    color: rgb(255, 255, 255);
    
    
}

.profile{
    width:100%;
    position: absolute;
    left: 0%;
    z-index: -1;
    opacity: 0;

}

#greetingsFirstName,
#greetingsLastName {
    font-weight: bold;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    z-index: 2;
    cursor: pointer;
}


#greetingsFirstName {
    animation-name: slideInLeft;
    font-size: clamp(0.8rem, calc(7vw + 2.8em), 1400rem);
}


#greetingsLastName {
    animation-name: slideInRightGreetings;
    font-size: clamp(0.5rem, calc(5vw + 2.8em), 1400rem);
}


#navigation {
    position: fixed;
    bottom: 3%;               
    left: 50%;                 
    transform: translateX(-50%); 
    background-color: rgba(74, 71, 71, 0.344);
    width: 280px;
    height: 70px;
    border-radius: 45px;
    z-index: 10;
}











/*home navigation*/

#Contact {
    background-color:rgb(62, 40, 69);
    width: 80px;
    height: 50px;
    position:absolute;
    right: 7%;
    top:15%;
    border-radius: 10vw;
    z-index: 5;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.367);
    justify-content:center;
    display:flex;
    align-items:center;
    color:white;
    font-family:arial;
    font-weight:bold;
    font-size: clamp(0.5rem, 1rem, 2.5rem);
    cursor: pointer;
}

#About {
    background-color:rgb(98, 176, 221);
    width: 70px;
    height: 50px;
    position:absolute;
    left: 7%;
    top:15%;
    border-radius: 10vw;
    z-index: 5;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.367);
    justify-content:center;
    display:flex;
    align-items:center;
    color:rgb(48, 46, 46);
    font-family:arial;
    font-weight:bold;
    font-size: clamp(0.5rem, 1rem, 2.5rem);
    cursor: pointer;
}

#Work {
    background-color:rgb(228, 141, 82);
    width: 60px;
    height: 50px;
    position:absolute;
    left:37.5%;
    top:15%;
    border-radius: 10vw;
    z-index: 5;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.367);
    justify-content:center;
    display:flex;
    align-items:center;
    color:rgb(48, 46, 46);
    font-family:arial;
    font-weight:bold;
    font-size: clamp(0.5rem, 1rem, 2.5rem);
    cursor: pointer;
}




/*bottom overlay*/


#overlay.visible {
    bottom:0%;
    left:0%;
    width:100%;
    height:100%;
}


.linkedin {
    position: absolute;
    right: 5%;
    bottom:27%;
    
}

.Projects {
    position: absolute;
    top:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10vw;
    font-size: clamp(1.5rem, 3vh, 5rem);
    color: rgb(43, 43, 43);
    
}

.Projects div {
    text-align: center;
    transition: 
        text-shadow 0.5s cubic-bezier(0.4,0,0.2,1),
        transform 0.5s cubic-bezier(0.4,0,0.2,1);
    cursor: pointer;
    animation: appearright 5s linear;
    animation-timeline:view();
    animation-range: entry 0% cover 44%;

}

.Projects div:hover {
    transform: scale(2);

}

.Projects div a {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
}

.Projects div:hover a {
    opacity: 1;
}

@keyframes appearright {
    from {opacity: 0; transform: translate(300%);}
    to { opacity: 1; transform: translate(0%);}
}




/* hello im andrew and im an aspiring full stack developer*/

#AndrewsInformation{
    color: aliceblue;
    font-size: clamp(0.67rem, 1.5vw, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    right: 01%;
    top: 115%; 
    font-weight: bold;
    width:55vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 0.3vw;
    line-height: 1.4;
    z-index:2;
    opacity:0;
    animation-delay:.5s;
    
}

#hello {
    color: aliceblue;
    font-size: clamp(1.8rem, calc(5vw + 1.2rem), 5rem);
    font-family:arial;
    font-weight:bold;
    position:absolute;
    top:115%;
    z-index:2;
    width:60vw;
    height:auto;
    right:25%;
    background-color:rgba(0, 0, 0, 0);
    opacity:0;
    cursor: pointer;
}



#info1 {
    position:absolute;
    top:160%;
    z-index:2;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    opacity:0;
    font-size: clamp(0.68rem, 1.5vw, 5rem);
    left:28%;
    letter-spacing: 0.3vw;
    width: 50%;
    background-color: black;
    padding: 1vw;

    
}

/* animation appear blocks*/

#one {
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: 400%;
  position: absolute;
  top: 155%;
  left: 0;
  z-index: 3;
  border-radius: 5vw;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
}

#projheader {
  position: absolute; /* let it flow naturally */
  top: 200%;
  font-size: clamp(1.5em, 9vw, 9vw);
  z-index: 10;
  left: 27%;
  font-family: bungee; 
}

.signin-signup {
    position: absolute;
    top: 20%;
    left: 4%;
    cursor: pointer;
    text-shadow: none;
    transition: text-shadow 0.5s ease;
}

.signin-signup:hover {
    text-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
}


.signinvid {
    position:absolute;
    top: 20%;
    right: 10%;
    border-radius:20px;
    transition: box-shadow 1s ease;
}

.signinvid:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
    transition: 0.5s;
}


#two {
    background-color: rgb(13, 26, 54);
    width: 100%;
    height: 80%;
    position: absolute;
    top:73%;
    left: 0%;
    z-index: 8;
    border-radius: 5vw;
    color: rgb(245, 153, 72);
    text-align: center;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    
}


.backgroundheader {
    position:relative;
    top: 10%;
    font-family: bungee;
    font-size: clamp(1.5em, 8vw, 9vw);

    animation-name: appear ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.backgroundheader.animate {
    animation-play-state: running;
}

.backgroundinfo {
    position: absolute;
    top: 21%;
    right: 5%;
    width: 25%;
    letter-spacing: 0.1vw;
    line-height: 4vh;
    background-color: rgba(0, 0, 0, 0.279);
    padding: 1.5vw;
    border-radius: 2vw;
    text-align: justify;
    content: center;
    font-size: clamp(0.5rem, 1rem, 4rem);
    color: rgb(206, 205, 205);

    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    
    
}

.backgroundinfo.animate {
    animation-play-state: running;
}

@keyframes slideInLeft {
      from { transform: translateX(4%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    }


.overview {
    width: 10%;
    font-size: clamp(0.5rem, 1.5vw, 6rem);

    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

    
}

.overview.animate {
    animation-play-state: running;
}

@keyframes slideUp {
    from {opacity: 0; transform: translateY(50px);}
    to { opacity: 1; transform: translateY(0);}
  }

.left_content {
    border-radius: 60% 95% 90% 85% / 90% 90% 50% 70%;
    background-color: rgb(0, 0, 0);
    width: 56%;
    height: 27%;
    position: absolute;
    top: 18%;
    left: 3%;

    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

.left_content.animate {
    animation-play-state: running;
}

.educationheader {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: clamp(0.5rem, calc(1rem + 5vw), 6rem);
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

.educationheader.animate {
    animation-play-state: running;
}

.rotatingbox {
    position: absolute;
    top: 50.4%;
    width: 10%;
    height: 3%;
    background-color: rgb(65, 157, 227);
    animation: rotate 5s infinite;
    border-radius:1vw ;
    left: -2%;
}

@keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    .educontainer {
    position: absolute;
    top:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10vw;
    font-size: clamp(1.5rem, 3vh, 5rem);
    color: rgb(255, 255, 255);
    left: 14%;
    width: 30%;
    font-family: bungee;
    }

    .educontainer div {
    text-align: center;
    transition: 
        text-shadow 0.5s cubic-bezier(0.4,0,0.2,1),
        transform 0.5s cubic-bezier(0.4,0,0.2,1);
    cursor: pointer;
    animation: appearright 5s linear;
    animation-timeline:view();
    animation-range: entry 0% cover 13%;

}

.edudiv {
    border-radius: 50% 70% 90% 90% / 70% 90% 40% 50%;
    width: 40%;
    height: 20%;
    position: absolute;
    top: 57%;
    right: 0%;
    background-color: rgb(0, 0, 0);
}

.feedback {
    position: absolute;
    bottom: 1%;
}

.divline {
    background-color: white;
    height: 9%;
    width: 1%;
    position: absolute;
    bottom: 0%;
    left: 11%;
}

/*animation names*/


.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.slideUp {
    animation:slideInUp 1s ease-out forwards;
}

.blocks1 {
    animation: slideL linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25% ;
}

.blocks {
    animation:appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25% ;
}

.weyts {
    position: absolute;
    top: 500%;
}


.slideLeft {
    animation: slideInLeft 1s ease-out forwards;
}


.slideRight {
    animation: slideInRight 1s ease-out forwards;
}


.body{
    background-color: rgb(19, 19, 19);
}



/*background shapes*/

.shape1 {
    width:80%;
    height:300px;
    background-color: rgb(68, 19, 84); 
    position:absolute;
    top:70%;
    left:-10%;
    z-index: -1;
    border-radius:45px;
    animation: rotate 30s infinite;
    
}


.shape2{
    width:10%;
    height:40%;
    background-color: rgb(204, 137, 60); 
    position:absolute;
    top:110%;
    left:-3%;
    z-index: 3;
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
    
}


.shape3{
    width:50%;
    height:240px;
    background-color: rgb(187, 96, 140); 
    position:absolute;
    right:10%;
    top: 40%;
    z-index: 0;
    border-radius:30px;
    animation: rotaterev 69s infinite;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
}


.shape4{
    width:14%;
    height:45%;
    background-color: rgb(152, 148, 238); 
    position:absolute;
    top:140%;
    left:-1%;
    z-index: 2;
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
    
}


.shape5{
    width:80%;
    height:300px;
    background-color: rgb(52, 116, 185); 
    position:absolute;
    top:-10%;
    left:-40%;
    z-index: -1;
    border-radius:45px;
    animation: rotate 50s infinite;
    
}


.shape6 {
    width:20%;
    height:20%;
    background-color: rgb(148, 235, 238); 
    position:absolute;
    top:160%;
    left:1%;
    z-index: 2;
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
}

.shape7 {
    width:20%;
    height:20%;
    background-color: rgb(193, 223, 115); 
    position:absolute;
    top:140%;
    right:15%;
    z-index: 0;
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
    animation: rotate 23s infinite;
}

.shape8 {
    width:30%;
    height:30%;
    background-color: rgb(76, 153, 167); 
    position:absolute;
    top:140%;
    left:-5%;
    z-index: 0;
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.629);
    animation: rotaterev 19s infinite;

}




/* Tool container in index */
#boxcontainers {
    width: 46%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 3%;
    top: 5%;
    z-index: 2;
    border-radius: 20px;
}

/* Common style for tool icons */
.tool-icon {
    height: 20%;
    position: absolute;
    z-index: 2;
    border-radius: 20vw;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: bungee;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: slideInLeft;
    opacity: 0;
    cursor: pointer;
}

.tool-icon:hover {
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.525);
}

/* Top row */
#github {
    width: 15%;
    background-color: #fff;
    left: 5%;
    top: 13%;
    animation-delay: 0.2s;
}



#VB {
    width: 23%;
    background-color: rgb(51, 93, 162);
    color: white;
    left: 24%;
    top: 13%;
    animation-delay: 0.6s;
}

#codewars {
    width: 18%;
    background-color: rgba(158, 16, 16, 0.981);
    color: rgb(30, 27, 27);
    left: 49%;
    top: 13%;
    animation-delay: 1s;
}

#linkedinn {
    width: 23%;
    background-color: rgba(209, 209, 215, 0.981);
    color: rgba(18, 78, 187, 0.981);
    left: 72%;
    top: 13%;
    animation-delay: 1.4s;
}

/* Middle row */
#html {
    width: 13%;
    background-color: rgba(181, 89, 8, 0.981);
    color: rgba(228, 219, 219, 0.981);
    left: 5%;
    top: 40%;
    animation-delay: 1.8s;
}

#css {
    width: 13%;
    background-color: rgba(101, 162, 197, 0.981);
    color: rgba(11, 11, 11, 0.981);
    left: 21.5%;
    top: 40%;
    animation-delay: 2.2s;
}

#javascript {
    width: 20%;
    background-color: rgba(227, 227, 50, 0.981);
    color: rgba(14, 14, 13, 0.981);
    left: 38%;
    top: 40%;
    animation-delay: 2.6s;
}

#python {
    width: 15%;
    background-color: rgba(77, 113, 185, 0.981);
    color: rgba(0, 0, 0, 0.981);
    left: 61%;
    top: 40%;
    animation-delay: 3s;
}

#java {
    width: 15%;
    background-color: rgba(153, 45, 23, 0.981);
    color: rgba(252, 252, 252, 0.981);
    left: 78%;
    top: 40%;
    animation-delay: 3.4s;
}

/* Bottom row */
#react {
    width: 15%;
    background-color: rgba(254, 253, 253, 0.981);
    color: rgba(24, 104, 185, 0.981);
    left: 5%;
    top: 67%;
    animation-delay: 3.8s;
}





/*background*/

.background1{
    position:absolute;
      top: 40%;
      left: 0px;
      height:175%;
      width: 100%;
      background: linear-gradient(to bottom, #e3b97f00, #081548, #00000000);
      z-index: 0;
      
    }


#Projects:hover {
    background-color:rgba(107, 67, 119, 0.952);
    transition: background-color 0.3s ease-in-out;
}

/*modular animations for the website*/

@keyframes bouncing {
    0%, 100% {transform: translateY(10%);}
    50% { transform: translateY(-10%);}
}

@keyframes disapear {
    from {opacity: 1;}
    to{opacity:0;}
}


@keyframes slideL {
    from {
        transform:translateX(-100%)
    }to{
        transform:translateX(0%);
    }
}


@keyframes appear {
    from { opacity:0; scale:0.5; }
    to { opacity:1; scale:1;}
}

@keyframes slideInLeft {
      from { transform: translateX(-60%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    }


@keyframes slideInRight {
      from { transform: translateX(1.5%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    } 

@keyframes slideInRightGreetings{
      from { transform: translateX(30%); opacity: 0; }
      to { transform: translateX(0); opacity: 1; }
    } 


@keyframes slideInUp {
      from { opacity:0; transform: translateY(30px); }
      to {opacity:1; transform: translateY(0);}
    }

@keyframes slideInDown {
      from { opacity:0; transform: translateY(-30px); }
      to {opacity:1; transform: translateY(0);}
    }


/*to rotate */
@keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    
@keyframes rotaterev {
      from { transform: rotate(360deg); }
      to { transform: rotate(180deg); }
    }







/*responsiveness*/

@media (max-width: 1178px) {
   body #boxcontainers {
    width: 90%;
    height: 30%;
    position: absolute;
    left: 5%;
    right: auto;
    top: 45%;
   }

   .tool-icon {
    height: 20%;
    position: absolute;
    z-index: 2;
    border-radius: 20vw;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: bungee;
    font-size: 2.2vw;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: slideInLeft;
    opacity: 0;
    cursor: pointer;
}

/* Top row */
#github {
    width: 15%;
    background-color: #fff;
    left: 5%;
    top: 13%;
    animation-delay: 0.8s;
}

#VB {
    width: 23%;
    background-color: rgb(51, 93, 162);
    color: white;
    left: 24%;
    top: 13%;
    animation-delay: 1.2s;
}

#codewars {
    width: 18%;
    background-color: rgba(158, 16, 16, 0.981);
    color: rgb(30, 27, 27);
    left: 49%;
    top: 13%;
    animation-delay: 1.6s;
}

#linkedinn {
    width: 23%;
    background-color: rgba(209, 209, 215, 0.981);
    color: rgba(18, 78, 187, 0.981);
    left: 72%;
    top: 13%;
    animation-delay: 2s;
}

/* Middle row */
#html {
    width: 13%;
    background-color: rgba(181, 89, 8, 0.981);
    color: rgba(228, 219, 219, 0.981);
    left: 5%;
    top: 40%;
    animation-delay: 2.4s;
}

#css {
    width: 13%;
    background-color: rgba(101, 162, 197, 0.981);
    color: rgba(11, 11, 11, 0.981);
    left: 21.5%;
    top: 40%;
    animation-delay: 2.8s;
}

#javascript {
    width: 20%;
    background-color: rgba(227, 227, 50, 0.981);
    color: rgba(14, 14, 13, 0.981);
    left: 38%;
    top: 40%;
    animation-delay: 3.2s;
}

#python {
    width: 15%;
    background-color: rgba(77, 113, 185, 0.981);
    color: rgba(0, 0, 0, 0.981);
    left: 61%;
    top: 40%;
    animation-delay: 3.6s;
}

#java {
    width: 15%;
    background-color: rgba(153, 45, 23, 0.981);
    color: rgba(252, 252, 252, 0.981);
    left: 78%;
    top: 40%;
    animation-delay: 4s;
}

/* Bottom row */
#react {
    width: 15%;
    background-color: rgba(254, 253, 253, 0.981);
    color: rgba(24, 104, 185, 0.981);
    left: 5%;
    top: 67%;
    animation-delay: 4.2s;
}

#AndrewsInformation{
    color: aliceblue;
    font-size: clamp(0.67rem, 1.5vw, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    right: 01%;
    top: 100%; 
    font-weight: bold;
    width:55vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 0.3vw;
    line-height: 1.4;
    z-index:2;
    opacity:0;
    animation-delay:.5s;
    
}

#hello {
    color: aliceblue;
    font-size: clamp(1.8rem, calc(5vw + 1.2rem), 5rem);
    font-family:arial;
    font-weight:bold;
    position:absolute;
    top:105%;
    z-index:2;
    width:60vw;
    height:auto;
    right:25%;
    background-color:rgba(0, 0, 0, 0);
    opacity:0;
    cursor: pointer;
}



}
